<div class="legend">
    <div class="legend-item">
      <div class="color-box red"></div>
      <span>Speed < 5</span>
    </div>
    <div class="legend-item">
      <div class="color-box orange"></div>
      <span>Speed < 10</span>
    </div>
    <div class="legend-item">
      <div class="color-box yellow"></div>
      <span>Speed < 15</span>
    </div>
    <div class="legend-item">
      <div class="color-box green"></div>
      <span>Speed < 20</span>
    </div>
    <div class="legend-item">
      <div class="color-box blue"></div>
      <span>Speed >= 20</span>
    </div>
  </div>