.legend {
    display: flex;
    gap: 10px
}

.legend-item {
    display: flex;
}

.color-box {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.color-box.red {
    background-color: red;
}

.color-box.orange {
    background-color: orange;
}

.color-box.yellow {
    background-color: yellow;
}

.color-box.green {
    background-color: green;
}

.color-box.blue {
    background-color: blue;
}